@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

body{
    box-sizing: border-box;
    width: 100%;
}

#chooseyourmaster{
    text-align:center;
    font-face:Merriweather;
    font-size:100px;
    font-color:black;
    font-weight:200px;
}

#container{
    background-color: crimson;
    width:100%;
}

#character-list{
    background-color: aqua;
    display:inline-block;
    width:100%;
    z-index: -13;
    text-align: center;




}



.character{
    background:gray;
    margin:15px;
    text-align:center;
    cursor:pointer;
    border-radius:20px;

    


    .characterimage{
        width:250px;
        border-radius:15px;
        

    }

    &.active{
        animation:flash 300ms linear;




    }
}

/* #container2{
    width:200px;
    height:200px;
    background-color: chartreuse;
    display:inline-block;
} */

.character-description{
    border: 3px black solid;
    background-color: darkorange;
    display:inline-block;
    position:absolute;
    right:0px;
    height:800px;
    width:70%;
    z-index: 13;
    text-align: center;
    padding:25px;

    border-radius:10px;
    animation:fromRight 1000ms linear;

}

.theimage{
    width:500px;
}


.hide{
    display:none;
}

#close{
    font-size: 50px;
    z-index:18;
    position:absolute;
    top:150px;
    left:150px;
    background-color: #bbb;
    border-radius: 50%;
    width:50px;
    text-align:center;
    cursor:pointer;


}

@keyframes flash{
    20%{
        filter:brightness(200%);
    }40%{
        filter:brightness(150%);

    }60%{
        filter:brightness(200%);

    }80%{
        filter:brightness(150%);

    }100%{
        filter:brightness(200%);

    }
}

@keyframes fromRight {
    0% {
      transform: translateX(500px);
    }
    100% {
      transform: translateX(0px);
    }
  }